<div class="well docs-menu col-xs-12 col-sm-4 col-md-3">
    {% include search_form.html %}
    <ul class="nav nav-list">
        <li class="nav-header">Overview</li>
        <li>
            <a href="{{ site.baseurl }}/docs/ae_intro.html">Introduction</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/ae_how.html">How it Works</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/ae_additional.html">Additional Resources</a>
        </li>
        <li class="nav-header">Integrations Built with this API</li>
        <li>
            <a href="{{ site.baseurl }}/docs/ae_summary.html">Summary</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/ae_example_tabpy.html">Example—TabPy</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/ae_example_currency.html">Example—Live Samples</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/ae_example_haskell.html">Example—Haskell Integration</a>
        </li>
        <li class="nav-header">Create Your Own Analytics Extension</li>
        <li>
            <a href="{{ site.baseurl }}/docs/ae_overview.html">Overview</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/ae_auth.html">Authentication</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/ae_method_info.html">Info Endpoint</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/ae_method_evaluate.html">Evaluate Endpoint</a>
        </li>
        <li class="nav-header">Connect to Your Analytics Extension</li>
        <li>
            <a href="{{ site.baseurl }}/docs/ae_connect_desktop.html">Connect from Tableau Desktop</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/ae_connect_server.html">Configure Tableau Server Connection</a>
        </li>
        <li class="nav-header">Reference</li>
        <li>
            <a href="{{ site.baseurl }}/docs/ae_api_ref.html">API Reference</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/ae_debugging.html">Debug Extensions in Tableau Desktop</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/ae_release-notes.html">Release Notes</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/ae_known_issues.html">Known Issues</a>
        </li>
    </ul>
</div>
